.page-id-44 {
    .contact-form {
        max-width: 860px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .wpcf7-submit {
        background: $color_blue;
        text-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 83px;
        padding: 25px 75px;
        color: white;
        font-size: 20px;
    }
    .wpcf7-submit {
        border-color: none;
        box-shadow: 0;
    }
    .wpcf7-form {
        padding: 0 20px;
    }
}