.single-youthprogram {
    .program-fee h2 {
        border-bottom: 0;
        max-width: 350px;
    }
 .price-fee {
            padding: 10px 0px;
        border-bottom: 4px solid $color_blue;
        margin: 0 auto;
        max-width: 250px;
        font-size: 30px;
    }
}